<script type="text/ng-template" id="dweller-form">
  <div class="modal-header">
    <h3 class="modal-title">Edit Dweller</h3>
  </div>
  <div class="modal-body">
    <form role="form">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" ng-model="dweller.name">
      </div>
      <div class="form-group">
        <label for="last-name">Last Name:</label>
        <input type="text" class="form-control" id="last-name" ng-model="dweller.lastName">
      </div>
      <div class="form-group">
        <label for="level">Level:</label>
        <input type="number" class="form-control" id="level" max="50" min="1" ng-model="dweller.experience.currentLevel">
      </div>
      <div class="form-group">
        <label for="max-health">Max Health:</label>
        <input type="number" class="form-control" id="max-health" min="1" ng-model="dweller.health.maxHealth">
      </div>
      <div class="form-group">
        <label for="happiness">Happiness:</label>
        <input type="number" class="form-control" id="happiness" max="100" min="10" ng-model="dweller.happiness.happinessValue">
      </div>
      <div class="clearfix">
        <% %w(S P E C I A L).each_with_index do |stat, index| %>
          <div class="form-group pull-left stat-group">
            <label class="pull-left stat-label" for="strength"><%= stat %>:</label>
            <slider class="pull-left stat-slider" ng-model="dweller.stats.stats[<%= index %>].value" min="1" step="1" max="10" value="dweller.stats.stats[<%= index %>].value"></slider>
          </div>
        <% end %>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>