.stat-group {
  margin-right: 15px;

  .stat-label {
    width: 10px;
  }

  .stat-slider {
    width: 100px;
    margin-left: 15px;
  }
}

header {
  background: url(/assets/header-87931e14082d2aaacb4a6f01380d2a029915f95ab706cfa35b4470100dce37f0.jpg) no-repeat 0 -35px;
  height: 320px;
}